*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:var(--fontFamily1)
 
}

:root{

    /*FONT SIZE **/
    --premiereFontSize: 20px;
    --deuxiemeFontSize: clamp(20px, 3vw, 24px);
    --fontSizeAccueil: 50px;

    /**COULEURS **/
    --colorHeader: black;
    --colorBackgroundHeader :#bfb2b5;
    --colorHeaderHover: #0288d1;
    --colorBlack: black;
    --colorBoutonBackgroundAccueil:rgba(207,227,238);
    --colorBackgroundHeaderHamberger:rgba(191,178,181);
    --colorContenuPageAccueil: black;
    --colorBackgroundPageAccueil:#eadbde;

    /**FONT FAMILY**/
    --fontFamily1: Arial, Helvetica, sans-serif;

}


.homeBackground{
    background-color: blue;
}