*{
    margin:0;
    padding:0;
    box-sizing:border-box;
 
}

:root{

    /*FONT SIZE **/
    --premiereFontSize: clamp(16px, 3vw, 20px);
    --deuxiemeFontSize: clamp(20px, 3vw, 24px);
    --fontSizeAccueil: clamp(32px, 3vw, 40px);

    /**COULEURS **/
    --colorHeader: black;
    --colorBackgroundHeader :#bfb2b5;
    --colorHeaderHover: rgba(207,227,238);
    --colorBlack: black;
    --colorBoutonBackgroundAccueil:rgba(207,227,238);
    --colorBackgroundHeaderHamberger:rgba(191,178,181,0.9);
    --colorContenuPageAccueil: black;
    --colorBackgroundPageAccueil:#eadbde
   

}


.homeBackground{
    background-color: blue;
}