footer{
    background-color:var(--colorBackgroundHeader);
    padding-inline:30px;
    padding-block:20px
}

footer a{
    text-decoration:none;
    transition: color 0.5s;
}

footer a:hover{
    color:var(--colorHeaderHover)
}

footer .premierContainerFooter .meContacter .svgPageAccueilFooter path,
footer .premierContainerFooter .meContacter .svgPageAccueilFooter path:nth-child(2){
    transition:0.5s fill;
    cursor:pointer;
}

footer .premierContainerFooter .meContacter .svgPageAccueilFooter:hover path{
    fill:#fff
}

footer .premierContainerFooter .meContacter .svgPageAccueilFooter:hover path:nth-child(2){
    fill:#0288d1
}

footer .meContacter span,
footer .premierContainerFooter .liensUtiles ul li a{
    font-size:var(--deuxiemeFontSize);
}
/*footer .meContacter a{
    text-decoration:none
}*/

footer .premierContainerFooter{
    display:flex;
    justify-content:space-around;
}

footer .premierContainerFooter .meContacter .titreFooter,
footer .premierContainerFooter .liensUtiles .titreFooter{
    font-size:var(--premiereFontSize);
    margin-block-end:10px;
    font-weight:bold;
}

footer .premierContainerFooter .liensUtiles ul {
    list-style-type:none
}

/*footer .premierContainerFooter .liensUtiles ul li a{
    text-decoration:none;

}*/

footer .autresInformationsUtiles{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-block-start:20px
}

footer .separateur{
    margin-right:auto;
    margin-left:auto;
    width:100px;
    height:1px;
    background-color:black;
    display:block;
}

@media screen and (max-width:768px){
    footer .premierContainerFooter{
        flex-direction:column;

    }

    footer .premierContainerFooter .meContacter,
    footer .premierContainerFooter .liensUtiles{
        margin-block-end:20px
    }
}