.maFormation {
  padding-inline: 50px;
  padding-block: 40px;
  width:100%;
  background-color: var(--colorBackgroundPageFormation);
  min-height:584px;
  font-size:var(--premiereFontSize);
}


.maFormation h1 {
  padding-block-end: 30px;
  text-align: center;
  line-height:75px;
  font-size:var(--fontSizeAccueil2);
}

.maFormation h2{
  font-size:var(--fontSizeTitre1)
}

.maFormation .formationsEtExperiencesProfessionnelles{
  display:flex;
  justify-content:center;
}

.maFormation .formationsEtExperiencesProfessionnelles h2{
  margin-block-end: 15px;
}

.maFormation .maFormationContenu {
  max-width:1400px;
  margin-left:auto;
  margin-right:auto;
}


.maFormation .mesFormations{
  margin-inline-end:20px;
  width:50%
}

.maFormation .mesExperiencesProfessionnelles{
  margin-inline-start:20px;
  width:50%
}


.maFormation .titreLi {

  cursor:pointer;
}

.maFormation .sousListe {
  margin-left: 50px;
}

.maFormation .flecheBas {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(45deg);
  margin-inline-start: 2px;
  cursor: pointer;
  position: relative;
  top: -2px;
  left: 2px;
  transition:border 0.5s
}

.maFormation .flecheBas:hover {
  border: solid var(--colorHeaderHover);
  border-width: 0 2px 2px 0;
}

.maFormation .openDropDown {
  display: none;
}

.maFormation .listePremiere{
  list-style-type:none;
  margin-block-end:15px;
}

.maFormation .sousListe {
  list-style-type : square;
}

.maFormation a{
  text-decoration: none;
}

@media screen and (max-width:900px){

 
 

  .maFormation h1 {
    line-height:50px;
  }

  .maFormation .formationsEtExperiencesProfessionnelles{
    flex-direction:column;
    align-items:center;
  }
  .maFormation .mesExperiencesProfessionnelles{
    margin-inline-start:0px;

  }

  .maFormation .mesFormations{
    margin-inline-end:0px;
    margin-block-end:30px
  }
}

@media screen and (max-width:779px){
  .maFormation .mesFormations{
    margin-inline-end:20px;
    width:70%
  }
  
  .maFormation .mesExperiencesProfessionnelles{
    margin-inline-start:20px;
    width:70%
  }

  .maFormation .mesExperiencesProfessionnelles{
    margin-inline-start:0px;

  }

  .maFormation .mesFormations{
    margin-inline-end:0px;
    margin-block-end:30px
  }

  .maFormation .listePremiere{
    margin-block-end:10px;
  }
}

@media screen and (max-width:591px){
  .maFormation .mesFormations{
    margin-inline-end:20px;
    width:85%
  }

  .maFormation h1 {
    font-size:var(--fontSizeTitre1);
    line-height:35px;
  }

  .maFormation h2{
    font-size:var(--premiereFontSize)
  }
  
  .maFormation .mesExperiencesProfessionnelles{
    margin-inline-start:20px;
    width:85%
  }

  .maFormation .mesExperiencesProfessionnelles{
    margin-inline-start:0px;

  }

  .maFormation .mesFormations{
    margin-inline-end:0px;
    margin-block-end:30px
  }

  .maFormation .listePremiere{
    margin-block-end:5px;
  }
}

@media screen and (max-width:443px){
  .maFormation .mesFormations{
    margin-inline-end:20px;
    width:95%
  }

  .maFormation .mesExperiencesProfessionnelles{
    margin-inline-start:0px;

  }

  .maFormation .mesFormations{
    margin-inline-end:0px;
    margin-block-end:30px
  }

  .maFormation .formationsEtExperiencesProfessionnelles{
    display: block;
  }
}

