

.accueil{
    /* height:calc(100vh - 118px); */
    padding-block:40px;
   
}

.accueil img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
    object-fit:cover;
    opacity:0.5
}


.accueil .quiSuisJe {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100%
}

.accueil .quiSuisJe span{
    font-weight:bold;
    font-size:var(--fontSizeAccueil);
    color:var(--colorContenuPageAccueil);
    text-align:center;
}

.accueil .quiSuisJe h1{
    color:var(--colorContenuPageAccueil);
    margin-block-end:20px
}

.accueil .quiSuisJe .paragrapheQuiSuisJe{
    color:var(--colorContenuPageAccueil);
    font-size:var(--premiereFontSize);
    width:70%;
    max-height:calc(100vh - 118px);
}

.accueil .quiSuisJe button{
    margin-block-start:30px;
    border-radius:5px;
    padding-block:10px;
    padding-inline:10px;
    background-color:var(--colorBoutonBackgroundAccueil);
    position:relative;
    transition:0.5s background-color;
    overflow:hidden;
}

.accueil .quiSuisJe button:hover{
    background-color: transparent;
}

.accueil .quiSuisJe button::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: var(--colorContenuPageAccueil);
    transform:translateX(-100%);
    transition:0.5s transform;
}

.accueil .quiSuisJe button:hover:before{
    transform:translateX(0);
}

.accueil .quiSuisJe button a{
    text-decoration:none;
    color:var(--colorBlack);
    font-size:var(--premiereFontSize);
    position:relative;
    z-index:5
}

