.enTete{
    display:flex;
    width:100%;
    justify-content:space-between;
    /* justify-content: flex-end; */
    background-color:var(--colorBackgroundHeader);
    align-items:center;
    padding-block:10px;
    padding-inline:10px;
    font-size:var(--premiereFontSize);
    height:100px;

   
}

.enTete .sr-only{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.enTete .sr-only:focus{
    position:static;
    width:auto;
    height:auto; 
}

 .enTete .maPresentation{
    display:flex;
    align-items:center;
} 

.enTete .maPresentation .svgPageAccueil path,
.enTete .maPresentation .svgPageAccueil path:nth-child(2){
    transition:0.5s fill;
    cursor:pointer;
}

.enTete .maPresentation .svgPageAccueil:hover path{
    fill:#fff
}

.enTete .maPresentation .svgPageAccueil:hover path:nth-child(2){
    fill:#0288d1
}

/* .enTete .maPresentation span{
    color:var(--colorHeader)
}

.enTete .maPresentation img{
    margin-inline-end:10px;
    border-radius:5px;
}  */

.enTete .menuIcon{
    display: none;
    cursor:pointer
}

.enTete .bar {
    width: 25px;
    height: 3px;
    background-color: var(--colorHeader);
    margin: 6px 0;
    transition: 0.4s;
    z-index:10;
  }
  
  .enTete.menuOpen .bar:nth-child(1) {
    transform-origin:center;
    transform: translateY(9px)  rotate(-45deg);
   
  }

  
  
  .enTete.menuOpen .bar:nth-child(2) {
    transform-origin:center;
    transform: rotate(45deg);
   
  }
  
  .enTete.menuOpen .bar:nth-child(3) {
    opacity:0;
  }
  

  @media screen and (max-width: 768px) {

    .enTete{
        position:fixed;
    }

    .enTete .menuIcon {
      display: block;
      z-index:10;
      
    }

    .enTete .menuIcon .bar{
        transition:0.5s background-color
    }

    .enTete .menuIcon:hover .bar{
        background-color:#0288d1
    }
  
    .enTete .navigation {
      display:none;


    }

    .enTete.menuOpen{
        position:static
    }

    .enTete.menuOpen .navigation{
        display:block;
        position:absolute;
        top:0;
        left:0;
        height:70%;
        width:100%;
        background-color:var(--colorBackgroundHeaderHamberger);
        z-index:8;
        color:var(--colorBlack);
        font-weight:bold
    }

    .enTete.menuOpen .navigation ul{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }

    .enTete.menuOpen .navigation ul li {
        padding-block:30px;
  
    }

    .enTete.menuOpen .navigation ul li a:before{
        display:none
    }
  
    .enTete.menuOpen .navigation ul li a span{
        text-transform:uppercase
    }
  }

.enTete .navigation{
    color:var(--colorHeader)
}



.enTete .navigation ul{
    display:flex;
    list-style-type:none;
}

.enTete .navigation ul li{
    padding-inline-end:10px;
   
}

.enTete .navigation ul li a{
    text-decoration:none;
    color:var(--colorHeader);
    position:relative;
    transition:0.5s color
}

.enTete .navigation ul li a:visited{
    color:var(--colorHeaderVisited)
}

.enTete .navigation ul li a:hover{
    color:var(--colorHeaderHover)
}

.enTete .navigation ul li a:before{
    content:"";
    position:absolute;
    bottom:-5px;
    left:0;
    background-color:var(--colorHeaderHover);
    width:100%;
    height:2px;
    transform-origin:center;
    transform:scale(0);
    transition:0.5s transform
}

.enTete .navigation ul li a:hover:before{
    transform:scale(100%)
}